{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>YooloFriends</title>
	<link rel='stylesheet' type='text/css' href='{% static 'accounts/main_user_page.css' %}'>
	<link href='{% static 'accounts/conversations.css' %}' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class=  'grid-container'>
		<div class = 'main-content'>
			{% block mian-content-block %}
				<h2>Main Content Bolck</h2>
			{% endblock %}
		</div>
		<div class = 'profile-image' style= 'background-image:url({{MEDIA_URL}}{{ profile_photo }})'></div>
		<div id = 'search'> 
			<input id = 'search_field' type = 'text' placeholder = 'Find friends'><br>
			<input id = 'search_btn' type = 'button' value = "Search" onclick = 'find_message()' >
		</div>
		<div class = 'btn1'>
			<div class= 'square-button' id='btn-options'><a href =''>O</a></div>
			<div class= 'square-button' id = 'btn-logout'><a href ='{% url 'logout'%}'>X</a></div>
			<div class= 'square-button' id = 'btn-profile'><a href ='{% url 'user_home'%}'>P</a></div>
			<div class= 'square-button' id = 'btn-friends'><a href =''>F</a></div>
			<div id= 'circle-button' id = 'btn-message'><a href ='{% url 'conversations'%}'>M</a></div>
		</div>
	</div>
</body>
</html>