{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>YooloFriends</title>
	<link rel='stylesheet' type='text/css' href='{% static 'accounts/main_user_page.css' %}'>
	<link href='{% static 'accounts/conversations.css' %}' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<div id="up-bar">
			<div id="photo" style= 'background-image:url({{MEDIA_URL}}{{ profile_photo }})'></div>
			<div id= "search-input"><input id="search" type="text" placeholder="Search:"><a href="javascript:click()"><img src="https://www.pikpng.com/pngl/m/333-3335603_loop-free-icon-loop-icon-clipart.png" alt="Loop Free Icon - Loop Icon Clipart@pikpng.com"/></a></div>
			<div id="menu">
				<a href="{% url 'logout' %}"><div class="menu-button" id="exit" ></div></a>
				<div class="menu-button" id="friends"></div>
				<a href="{% url 'conversations' %}"><div class="menu-button" id="messages"></div></a>
				<a href="{% url 'user_home' %}"><div class="menu-button" id="profile"></div></a>
				<div class="menu-button" id="options"></div>
			</div>
			<div id="logo">YooloFriends</div>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<script>
		setTimeout(send_message(),{},1000);
		function click()
		{
			alert("Sorry. \nSearchin not avilable.");
		}

		function send_message()
		{
			window.scrollTo(0,document.body.scrollHeight);
		}
	</script>
</body>
</html>