{% extends 'accounts/loggedin_user_base.html' %}
{% block content %}
<script>
	function send_mesage()
	{
		var message = document.getElementById("message-to-send").value;
		alert(message);
		document.getElementById("message-to-send").value = "";
	}
</script>
	<div id="message-area">
		{% for message in conversation.messages.all %}
		{% if message.profile_set.first.user.username == request.user.username %}
			<div class = "mess" style="margin-left:50%">
		{% else %}
			<div class = "mess">
		{% endif %}
				<div class = "conv-image" style="background-image: url({{MEDIA_URL}}{{message.profile_set.first.image}});"></div>
				<div class = "conv-name">{{message.profile_set.first.user.username}}</div>
				{% if message.profile_set.first.user.username != request.user.username %}
					<div class = "conv-content"><div class="not-my-mess">{{message}}</div></div>
				{% else %}
					<div class = "conv-content"><div class="my-mess">{{message}}</div></div>
				{% endif %}
				<div class = "conv-date">{{message.date | date:"d.m.Y | H.i"}}</div>
			</div>
		{% endfor %}
	</div>
	<div id = "new-message-area">
		<input id ="message-to-send" type="text" placeholder="Your message:">
		<div id="send-button" onclick="javascript:send_mesage()"></div>
	</div>
{% endblock %}