{% extends 'accounts/loggedin_user_base.html' %}
{% block content %}
	<h2>{{ conversation }}</h2>
	<div id= 'messages_container'>
		<div id = "messages">
			{% for message in conversation.messages.all %}
				{% if not user.username == message.profile_set.get.user.username %}
					<div class = 'other_message'>
						<div id="message">{{message}}</div>
						<div id="picture" style="background-image: url({{MEDIA_URL}}{{message.profile_set.get.user.profile.image}})"></div>
					</div><br>
				{% else %}
					<div class = 'my_message'>{{message}}</div><br>
				{% endif %}
			{% endfor %}
		</div>
		<div id = 'input_message'>
			<input type= 'text' name= 'new_message' id = "new_message">
			<input type = 'submit' value = 'Send' id = "new_message_btn">
		</div>
	</div>
{% endblock %}