{% extends 'accounts/loggedin_user_base.html' %}
{% block content %}
	<div id="message-area">
		{% for message in conversation.messages.all %}
		{% if message.profile_set.first.user.username == request.user.username %}
			<div class = "mess" style="margin-left:50%">
		{% else %}
			<div class = "mess">
		{% endif %}
				<div class = "conv-image" style="background-image: url({{MEDIA_URL}}{{message.profile_set.first.image}});"></div>
				<div class = "conv-name">{{message.profile_set.first.user.username}}</div>
				{% if message.profile_set.first.user.username != request.user.username %}
					<div class = "conv-content"><div class="not-my-mess">{{message}}</div></div>
				{% else %}
					<div class = "conv-content"><div class="my-mess">{{message}}</div></div>
				{% endif %}
				<div class = "conv-date">{{message.date | date:"d.m.Y | H.i"}}</div>
			</div>
		{% endfor %}
	</div>
	<div id = "new-message-area">
		<div id="message-form-area">
			<form method="POST" autocomplete="off">
				<div id = "message-in-form-area">
				{% csrf_token %}
				{{message_form.message}} 
				<input id = "send-button" type="submit" value="Send message" onload="send_message()">
				</div>
			</form>
		</div>
	</div>
{% endblock %}