body{
	background-color: rgb(30,25,30);
}

.grid-container{
	height:740px;
	display: grid;
	grid-template-columns:120px 50px 10fr 50px 120px;
	grid-template-rows: 170px 2fr 1fr;
}

.main-content{
	grid-area:1/2/5/5;
	background-color: rgb(50,45,50);
	text-align:left;
	padding-left:5%;
	border-radius:40px;
}

.profile-image{
	background-size:100%;
	grid-area:1/1/1/3;
	border: solid black 1px;
	border-radius: 100%;
	border:1px solid black;
}

.btn1{
	width:100%;
	height:100%;
	grid-area: 1/4/2/6;
	background-color:gray;
	display:grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	border-radius: 5%;
	border:solid black 1px;
}

.square-button{
	width:100%;
	height:100%;
}

#circle-button{
	margin:20%;
	width:60%;
	height:60%;
	border-radius:100%;
	border:1px solid;
	grid-area:1/1/3/3;
	background-color:white;
	text-align: center;
	line-height:100%;
}

#btn-options{
	grid-area:1/1/2/2;
	border-bottom: solid black 1px;
	border-right: solid black 1px;
	margin-top:auto;
	margin-bottom:auto;
}

#btn-logout{
	grid-area:1/2/2/3;
	border-bottom: solid black 1px;
	border-left: solid black 1px;
	line-height:50%;
	text-align: center;
}

#btn-profile{
	grid-area:2/1/3/2;
	border-top: solid black 1px;
	border-right: solid black 1px;
	line-height:50%;
}

#btn-friends{
	grid-area:2/2/3/3;
	border-top: solid black 1px;
	border-left: solid black 1px;
	line-height:50%;
	text-align: right;

}
