body{
	background-color: black;
	color: white;
}

#container{
	display:grid;
	grid-template-rows: auto auto;
}

/* All in up-bar */
#up-bar{
	height:75px;
	grid-row: 1;
	display:grid;
	grid-template-columns:5% 20% auto 25%;
}

#photo{
	background-size:70px 70px;
	grid-column: 1;
	width:70px;
	height:70px;
	border-radius: 100%;
	background-repeat: no-repeat;
	border: 5px solid rgb(0,255,0);
}

#search-input{
	grid-column:2;
	position: relative;
	width:auto;
}
#search{
	border:none ;
	background:#fff;
	display:block;
	box-sizing: border-box;
	height:90%;
	width:87%;
	margin-left:10%;
	border-radius: 5% / 50%;
}

#search-input img {
	width:25px;
	position: absolute; 
	top: 30%; 
	right: 5%;
}

#menu{
	grid-column: 3;
	display:grid;
	grid-template-columns: auto auto auto auto auto;
}

.menu-button{
	width:100%;
	height:100%;
	background-size:50%;
	background-repeat: no-repeat;
	background-position:center;
	transition:0.2s;
}

.menu-button:hover{
	border-bottom: -3px solid rgb(0,255,0);
	box-shadow: inset 0 0 10px rgb(0,255,0),inset 0 0 10px rgb(0,255,0),inset 0 0 10px rgb(0,255,0),inset 0 0 10px rgb(0,255,0);
	/* transition-delay: 1s; */
}

div#exit.menu-button{
	grid-column: 1;
	background-image: url("/media/icons/door.png");
}

div#friends.menu-button{
	grid-column: 2;
	background-image: url("/media/icons/peoples.png");
}

div#messages.menu-button{
	grid-column: 3;
	background-image: url("/media/icons/messages.png");
}

div#profile.menu-button{
	grid-column: 4;
	background-image: url("/media/icons/people.png");
}

div#options.menu-button{
	grid-column: 5;
	background-image: url("/media/icons/options.png");
}

#logo{
	grid-column: 4;
	text-align: center;
	font-size: 40px;
	font-family: "SimSun-ExtB";
	font-style: italic;
	font-weight: bold;
	margin:auto;
}

/* All in content */

#content{
	grid-row:2;
	width: 100%;
	height:100%;
	display:grid;
	grid-template-columns: 20% auto 20%;
	margin-top:5%;
}